{% extends 'base.html' %}
{% block title %}All Therapists{% endblock %}
{% block body %}


<div class="container tlist">
  {% for t in therapist %}
  <ul class="list-group">
    <span class="border border-light">
    <div class="t-box">
      <div class="image-parent">
        <img src="{{ t.pic }}" class="rounded-circle" alt="lay">
      </div>
      <br>
      <div class="flex-column">
        <h4 class="therapist-name"> {{t.name}}</h4>
        <p class="therapist-description"><i> {{t.description}} </i><a href="/therapists/{{ t.therapist_id }}">
          Read more.</a></p>
        <form class="bookmark-button", action= "/bookmark", method= "POST">
          <button class="add-bookmark" id="btn">Bookmark</button>
        </form>
        <br>
      </div>
    </div>
    </span>
    <br>
  </ul>
  {% endfor %}
</div>

{% endblock %}




