{% extends 'base.html' %}
{% block title %} Black Therapist Search Home {% endblock %}
{% block body %}
  
<header class="page-header header container-fluid">
  <div class="overlay"></div>
  <div class="description">
    <h1>Welcome to BeWell!</h1>
    <p>A place for Black folks in the Twin Cities to find Black therapists.</p>
  </div>
</header>

<div class="container features">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h3 class="feature-title">Browse our listing</h3>
      <!-- <img src="images/column-1.jpg" class="img-fluid"> -->
      <p>We list over __ therapists across the Twin Cities</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h3 class="feature-title">Bookmark therapists</h3>
      <!-- <img src="images/column-2.jpg" class="img-fluid"> -->
      <p>It's easy to save therapists you are interested in.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">   
      <h3 class="feature-title">Start here</h3>
      <form class="form-create" action="/user" method="POST">
        
        <div class="form-label-group">
          <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <label for="inputEmail">Email address</label>
        </div>
    
        <div class="form-label-group">
          <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <label for="inputPassword">Password</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
      </form>
      <div class="card-body">
        <p>Already have an account? Login in<a href="/login"> here</a></p> 
      </div>  
    </div>
  </div> 
</div>  
  

{% endblock %}