{% extends 'base.html' %}
{% block title %} Black Therapist Search Home {% endblock %}
{% block body %}
  <header class="page-header header container-fluid">
    <div class="overlay"></div>
  </header>
  <div class="row">
  <div class ="container">
    <div class="card" style="width: 18rem;">
      <h4>Create an Account</h4>
        <form action="/user" method="POST">
          <p>
            Email <input type="text" name="email">
          </p>
      
          <p>
            Password <input type="password" name="password">
          </p>
      
          <p>
            <input type="submit">
          </p>
        </form>
      <div class="card-body">
        <p>Already have an account?</p>
        <p><a href="/login">Login in here</a></p>
      </div>
    </div>
  </div>
    <!-- <div class="row">
      <div class="col-3 offset-9">
        <h4>Create an Account</h4>
        <form action="/user" method="POST">
          <p>
            Email <input type="text" name="email">
          </p>
      
          <p>
            Password <input type="password" name="password">
          </p>
      
          <p>
            <input type="submit">
          </p>
        </form>
        <p>Already have an account?</p>
        <p><a href="/login">Login in here</a></p>
        
      </div>
    </div> -->
  </div>
{% endblock %}