{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block head %}
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/">
  
  <!-- Custom styles for this template -->
  <!-- <link href="floating-labels.css" rel="stylesheet"> -->
{% endblock %}
{% block body %}

<!-- <div class="row">
  <div class="col-4 offset-4">
    <form action="/login" method="POST">
        <h2>Login</h2>
      <div>
        <input type="text" name="email">
        <br>
        <label>Email</label>
      </div>
     
      <div>
        <input type="password" name="password">
        <br>
        <label>Password</label>

      </div>
     <div>
      <input type="submit">
     </div>
    </form>
  </div>
</div> -->
 <div class="container">
  <form class="form-signin" action="/login" method="POST">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    </div>

    <div class="form-label-group">
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputEmail">Email address</label>
    </div>

    <div class="form-label-group">
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
  </div>

{% endblock %}