{% extends 'base.html' %}
{% block head %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBs2YY1_f_faBTNr0A4cTJilpZTeCMnFnQ&callback=initMap">
    </script> 
    <link rel="stylesheet" href="/static/css/maps.css">
    <link rel="stylesheet" href="/static/css/map2.css">
    <script src="/static/js/map_draft.js"></script>
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
    </style>
  
{% endblock %}
{% block body %}
    <header>
      <nav>
        <section id="links-right">
          <a href="/">home</a>
        </section>
      </nav>
    </header>
    
    <div id="map"></div>
{% endblock %}