{% extends 'base.html' %}
{% block title %}My Profile{% endblock %}
{% block body %}
  <div class="container profile">
    <div class="row">
      
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h3 class="feature-title">Welcome to your profile!</h3>
        <!-- <p><a href="/my-bookmarks/{{ user_id }}">Click here</a></p> -->
        <img src="../static/img/bw-flowereyes.jpg" class="img-fluid">
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h3 class="feature-title">Your Faved Therapists</h3>
        {% for b in bookmark_list %}
                <li><a href='/therapists/{{ b.therapist_id }}'> {{ b.name }} </a></li>
        {% endfor %}
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h3 class="feature-title">Sign out</h3>
        <form action="/logout" method="POST"><button>Sign Out</button></form>
      </div>
    
    </div>
    
  </div>
    <!-- <div class="container features">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h3 class="feature-title">Welcome!
      </h3>
      <p>We list over __ therapists across the Twin Cities</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h3 class="feature-title">Check out your bookmakrs</h3>
      <p>It's easy to save therapists you are interested in.</p>
    </div>

{% endblock %}